@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); /* Importo una fuente de Google */

* {
  /* A todo el documento */
  margin: 0; /* Le damos un margen de 0 */
  padding: 0; /* Le damos el padding de 0 */
  box-sizing: inherit; /* Le asegnamos el tamaño a los elementos manualmente, hereda el valor de su padre */
}

html {
  /* A todo el documento Html */
  font-size: 62.5%; /* Tamaño de la fuente en todo el documento */
  box-sizing: border-box; /* Para definir las propiedades manualmente */
}

body {
  /* A todo el body */
  font-family: 'Press Start 2P', sans-serif; /* Esta va a ser la tipografia */
  color: #eee; /* Le ponemos este color a todo el body */
  background-color: #222;
  /* background-color: #60b347; */
}

header {
  /* Etiqueta de la cabecera*/
  position: relative; /* Que su posicionamiento sea en esta etiqueta */
  height: 35vh; /* La altura a la cual se posicionara este elemento */
  border-bottom: 7px solid #eee; /* Le vamos a asignar un borde a esta etiqueta */
}

main {
  /* Etiqueta donde esta el cuerpo */
  height: 65vh; /* Espacio hacia abajo donde se colocan estos elementos */
  color: #eee; /* Color de la fuente */
  display: flex; /* Para acomodar los elementos donde quiera */
  align-items: center; /* Alinear todos los elementos al centro de esta etiqueta */
  justify-content: space-around; /* Que el contenido abarque todo el espacio */
}

.left {
  /* Etiqueta section con una clase llamada left */
  width: 52rem; /* Lo que va a medir de ancho */
  display: flex; /* Para acomodar los elementos donde quiera */
  flex-direction: column; /* Que la direccion de los elementos sea hacia abajo */
  align-items: center; /* Items Centrados */
}

.right {
  /* Es una etiqueta */
  width: 52rem; /* Es el ancho de esta clase */
  font-size: 2rem; /* Es el tamaño de texto */
}

h1 {
  /* Es para las etiquetas h1 */
  font-size: 4rem; /* Tamaño del texto */
  text-align: center; /* Centramos el texto al centro */
  position: absolute; /* Aqui vamos a tomar el posicionamiento */
  width: 100%; /* Que el ancho sea del 100% */
  top: 52%; /* Espacio de arriba hacia abajo */
  left: 50%; /* Espacio que dejamos de la izquierda a la derecha */
  transform: translate(-50%, -50%); /* Movemos el texto */
}

.number {
  /* A la clase number */
  background: #eee; /* Fondo donde esta el ? lo hacemos blanco */
  color: #333; /* El signo ? lo ponemos color negro */
  font-size: 6rem; /* Tamaño de texto mas grande */
  width: 15rem; /* La anchura del reacuadro */
  padding: 3rem 0rem; /* Del elemento hacia afuera le damos un espacio */
  text-align: center; /* Centramos el texto */
  position: absolute; /* Para poderlo mover por aqui */
  bottom: 0; /* Para posicionarlo hasta abajo */
  left: 50%; /* Para moverlo hacia el lado de la izquierda hacia la derecha */
  transform: translate(-50%, 50%); /* Movemos el elemento */
}

.between {
  /* El elemento que esta posicionado a la derecha de numero */
  font-size: 1.4rem; /* Tamaño del texto */
  position: absolute; /* Para poderlo posicionar por el elemento */
  top: 2rem; /* Para acomodarlo de arriba hacia abajo */
  right: 2rem; /* Espacio de derecha a izquierda */
}

.again {
  /* La clase del boron que dice Reinicio */
  position: relative; /* Para poderlo mover donde quiera */
  top: 2rem; /* Espacio de arriba hacia abajo */
  left: 2rem; /* Espacio de izquierda hacia derecha */
}

.guess {
  /* La clase donde voy a poner el numero que voy a adivinar */
  background: none; /* Sin fondo, pero se hace color negro */
  border: 4px solid #eee; /* El borde del elemento */
  font-family: inherit; /* La tipografia */
  color: inherit; /* Para hacerlo el color del texto color blanco */
  font-size: 5rem; /* Tamaño del texto */
  padding: 2.5rem; /* Espacio del elemento hacia afuera, es el espacio */
  width: 25rem; /* La anchura del elemento */
  text-align: center; /* Centramos el texto */
  display: block; /* Para que el elemento se comporte como un bloque */
  margin-bottom: 3rem; /* Margen del elemento de arriba hacia abajo */
}

.btn {
  /* La clase donde dice Revisa */
  border: none; /* Que no tenga ningun tipo de borde */
  background-color: #eee; /* Que el fondo sea color blanco */
  color: #222; /* Que el color del texto sea negro */
  font-size: 2rem; /* Tamaño del texto */
  font-family: inherit; /* La tipografia */
  padding: 2rem 3rem; /* Espacio hacia afuera, primero es hacia arriba luego hacia los lados */
  cursor: pointer; /* Cuando posicione el cursor que se ponga una manita */
}

.btn:hover {
  /* Cuando le pase el mouse por encima */
  background-color: #ccc; /* Que haga una transicion a un blanco mas oscuro el fondo */
}

.message {
  /* La clase donde dice Comienza a adivinar */
  margin-bottom: 8rem; /* Espacio que dejamos de abajo hacia arriba */
  height: 3rem; /* La altura del elemento */
}

.label-score {
  /* Clase donde dice Puntaje */
  margin-bottom: 2rem; /* Margen que dejamos de abajo hacia arriba */
}
