@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"); /* Importo una fuente de Google */

* {
  /* Estilo a todo el DOM */
  margin: 0; /* Sin Margen el DOM, todo quedo Arriba a la Izquierda */
  padding: 0; /* Sin Padding, todo quedo arriba a la izquierda */
  box-sizing: inherit; /* Tamaño de las Cajas sera personalizado, lo que le demos es lo que nos va a dar */
}

html {
  /* A toda la etiqueta html en el DOM */
  font-size: 62.5%; /* Le cambio el tamaño de fuente a todo el elemento html */
  box-sizing: border-box; /* Significa que el tamaño que asignemos se va a mantener aunque le ponga padding y margin */
}

body {
  /* A toda la etiqueta body en el DOM */
  font-family: "Press Start 2P", sans-serif; /* Utilizo la fuente que importe */
  /* color: #eee; /* A todo el body le pongo un color blanco, pero al texto */
  background-color: #eee; /* Le pongo un fondo blanco a toda la pagina */
}

header {
  /* A la etiqueta header */
  position: relative; /* Que tome el posicionamiento del body */
  height: 35vh; /* Le asigno un alto al header */
  border-bottom: 7px solid #eee; /* El borde inferior, mide 7pz, es del estilo solid y su color es blanco/aperlado */
}

main {
  /* La seccion que contiene el selector de ambos lados */
  height: 65vh; /* Esto es la altura */
  /* color: #eee; /* Este es el color del texto */
  display: flex; /* Para poder colocar los elementos donde quisiera y que los section sean independientes */
  align-items: center; /* Loe items centrados, pero tanto de eje x y y */
  justify-content: space-around; /* Para que tomen su espacio a cada lado */
}

.izquierda {
  /* Esta es una clase en una etiqueta del selector */
  width: 52rem; /* Le asigno un tamaño al selector izquierdo */
  display: flex; /* Para poderlo mover aqui y ajustar su anchura como quiera */
  flex-direction: column; /* Que ocupe todo el espacio, porque va a ser como columna */
  align-items: center; /* Centro este elemento al centro */
}

.derecha {
  /* Una clase de una etiqueta Section */
  width: 52rem; /* Le damos un tamaño al elemento */
  font-size: 2rem; /* Aumentamos el tamaño de texto */
}

h1 {
  /* A todos los elementos h1 */
  font-size: 4rem; /* Le cambio el tamaño al texto */
  text-align: center; /* Centramos el texto */
  position: absolute; /* El elemento se puede mover en todo este elemento */
  width: 100%; /* Que ocupe toda la anchura este elemento */
  top: 52%; /* Espacio de arriba hacia abajo */
  left: 50%; /* Esta super a la derecha el elemento */
  transform: translate(
    -50%,
    -50%
  ); /* El elemento lo centro mas a la izquierda y tambien lo pongo mas arriba */
}

.numero {
  /* A la clase numero, que es una etiqueta div */
  background: #eee; /* Le damos un fondo blanco */
  color: #333; /* Que el signo de ? sea color blanco */
  font-size: 6rem; /* Hacemos mas grande la tipografia */
  width: 15rem; /* Le asignamos un ancho */
  padding: 3rem, 0rem; /* Le asignamos un padding al elemento, que es de adentro hacia afuera, luego lo dejamos en 0 en el eje de las y */
  text-align: center; /* Centramos el elemento al centro */
  position: absolute; /* Aqui sera el padre para las futuras posiciones */
  bottom: 0; /* Lo bajo hasta abajo de toda su altura */
  left: 50%; /* Lo pongo de la derecha a la izquierda */
  transform: translate(
    -50%,
    50%
  ); /* Lo pongo un poco mas a la izquierda y un poco mas abajo osea primero x luego y */
}
