@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"); /* Importo una fuente de Google */

* {
  /* Estilo a todo el DOM */
  margin: 0; /* Sin Margen el DOM, todo quedo Arriba a la Izquierda */
  padding: 0; /* Sin Padding, todo quedo arriba a la izquierda */
  box-sizing: inherit; /* Tamaño de las Cajas sera personalizado, lo que le demos es lo que nos va a dar */
}

html {
  /* A toda la etiqueta html en el DOM */
  font-size: 62.5%; /* Le cambio el tamaño de fuente a todo el elemento html */
  box-sizing: border-box; /* Significa que el tamaño que asignemos se va a mantener aunque le ponga padding y margin */
}

body {
  /* A toda la etiqueta body en el DOM */
  font-family: "Press Start 2P", sans-serif; /* Utilizo la fuente que importe */
  /*color: #eee; /* A todo el body le pongo un color blanco, pero al texto */
  background-color: #eee; /* Le pongo un fondo blanco a toda la pagina */
}

header {
  /* A la etiqueta header */
  position: relative; /* Que tome el posicionamiento del body */
  height: 35vh; /* Le asigno un alto al header */
  border-bottom: 7px solid #eee; /* El borde inferior, mide 7pz, es del estilo solid y su color es blanco/aperlado */
}
