* {
  /* A todo el documento */
  margin: 0; /* Sin Margen */
  padding: 0; /* Sin Padding */
  box-sizing: inherit; /* Tamaño de las Cajas sera personalizado, lo que le demos es lo que nos va a dar y se hereda */
}

html {
  /* A la etiqueta HTML */
  font-size: 62.5%; /* Tamaño de texto */
  box-sizing: border-box; /* Tamaño de la caja incliye contenido, relleno y borde, pero no margen */
}

body {
  /* A la etiqueta body */
  font-family: sans-serif; /* Le cambio la tipografia */
  color: #333; /* Que sea color negro */
  line-height: 1.5; /* Espacio del espaciado hacia de cada renglon */
  height: 100vh; /* Que la altura sea del 100% de la pantalla */
  position: relative; /* Para poderlo mover por aqui, pero sobre el body */
  display: flex; /* Para que cada elemento pueda tener un tamaño personalizado o moverse libre por el body */
  align-items: flex-start; /* Los items se alinean al principio del contenedor, con su tamaño ajustado */
  justify-content: center; /* Los elementos se alinean en el centro del contenedor */
  background: linear-gradient(
    to top left,
    #28b487,
    #7dd56f
  ); /* El fondo tiene un color, el primero de derecha y el segundo a la izquierda */
}

.mostrar-modal {
  /* A esta clase, que es un boton */
  font-size: 2rem; /* Tamaño de texto de los botones */
  font-weight: 600; /* Es como hacerla negritas */
  padding: 1.75rem 3.5rem; /* Espacio de adentro hacia afuera, primero hacia abajo, despues hacia los lados */
  margin: 5rem 2rem; /* Separacion de modales, segundo es separacion de arriba hacia abajo */
  border: none; /* Que los modales no tengan bordes */
  background-color: #fff; /* Fondo de este elemento que sea blanco */
  border-radius: 10rem; /* Que los modales esten redondeados */
  cursor: pointer; /* Al pasarles el mouse, que salga la manita */
}

.cerrar-modal {
  /* A la clase cerrar-modal, que es un boton, que es solo una tachita */
  position: absolute; /* Donde lo quiera poner, con que no tope con los otros contenedores */
  top: 1.2rem; /* Lo bajo de arriba hacia abajo */
  right: 2rem; /* Lo coloco de derecha a izquierda */
  font-size: 5rem; /* Lo hago mas grande */
  color: #333; /* Que sea color negro */
  cursor: pointer; /* Que cuando este ahi se ponga una manita */
  border: none; /* Que no tenga ningun borde */
  background: none; /* Que no tenga ningun fondo */
}
