* {
  /* Todo el DOM */
  margin: 0; /* Que no tenga margenes */
  padding: 0; /* Que no tenga margenes de adentro hacia afuera */
  box-sizing: inherit; /* El tamaño de la caja se va a heredar */
}

html {
  /* Etiqueta Html */
  font-size: 62.5%; /* Tamaño de texto */
  box-sizing: border-box; /* Tamaño de cajas, incluyen margin, padding y border al total asignado */
}

body {
  /* A la etiqueta body */
  font-family: serif; /* Fuente */
  height: 100vh; /* Va a ocupar el 100 de la vista */
  color: black; /* Color tippografia */
  background-image: linear-gradient(
    to top left,
    #c3599e 50%,
    #2e1c36 75%
  ); /* Division DOM, y donde empieza (rosa) y donde va a terminar (negro) */
  display: flex; /* Que todo valla hacia el lado derecho segun su elemento */
  align-items: center; /* Items a la mitad del Body (depende flex) */
  justify-content: center; /* Justifica el contenido hacia la mitad (depende flex) */
}

/* Diseño del contenedor */
main {
  /* A la etiqueta Main */
  position: relative; /* Su posicion sera donde indica su etiqueta padre */
  width: 100rem; /* Ancho de la Caja */
  height: 60rem; /* Largo de la Caja */
  background-color: rgb(
    207,
    197,
    182,
    0.3
  ); /* Color de la caja - Entre mas Alto mas Intenso y mas Bajo, mas Debil */
  backdrop-filter: blur(
    200px
  ); /* Es el desenfoque para hacerlos parcealmente transparentes */
  filter: blur(); /* El filtro que voy a aplicar va a ser el desenfoque */
  box-shadow: 1rem 3rem 5rem rgba(0, 0, 0, 0.9); /* Sombra de la caja, x,y,z; color sombra e itensidad */
  border-radius: 12px; /* Caja Principal los bordes redondeados */
  overflow: hidden; /* Es el Scroll, aqui lo desaparezco, pero tiene muchas funciones, se muestra ultimo */
  display: flex; /* Para que el contenido valla hacia la derecha y no hacia abajo */
}

.jugador {
  /* <> Por el momento solo contiene otro <> */
  flex: 50%; /* Cada <> se dividio en 2 */
  padding: 9rem; /* Margen de adentro hacia afuera */
  display: flex; /* Movemos elementos <> */
  flex-direction: column; /* Que se mantengan como columnas */
  align-items: center; /* Alineo los elementos al centro */
  transition: all 3s; /* De la ubicacion donde vienen, quedaran asi en 3 segundos */
}
