* {
  /* Todo el DOM */
  margin: 0; /* Que no tenga margenes */
  padding: 0; /* Que no tenga margenes de adentro hacia afuera */
  box-sizing: inherit; /* El tamaño de la caja se va a heredar */
}

html {
  /* Etiqueta Html */
  font-size: 62.5%; /* Tamaño de texto */
  box-sizing: border-box; /* Tamaño de cajas, incluyen margin, padding y border al total asignado */
}

body {
  /* A la etiqueta body */
  font-family: serif; /* Fuente */
  height: 100vh; /* Va a ocupar el 100 de la vista */
  color: black; /* Color tippografia */
  background-image: linear-gradient(
    to top left,
    #c3599e 50%,
    #2e1c36 75%
  ); /* Division DOM, y donde empieza (rosa) y donde va a terminar (negro) */
  display: flex; /* Que todo valla hacia el lado derecho segun su elemento */
  align-items: center; /* Items a la mitad del Body (depende flex) */
  justify-content: center; /* Justifica el contenido hacia la mitad (depende flex) */
}

/* Diseño del contenedor */
main {
  /* A la etiqueta Main */
  position: relative; /* Su posicion sera donde indica su etiqueta padre */
  width: 100rem; /* Ancho de la Caja */
  height: 60rem; /* Largo de la Caja */
  background-color: rgb(
    207,
    197,
    182,
    0.3
  ); /* Color de la caja - Entre mas Alto mas Intenso y mas Bajo, mas Debil */
  backdrop-filter: blur(
    200px
  ); /* Es el desenfoque para hacerlos parcealmente transparentes */
  filter: blur(); /* El filtro que voy a aplicar va a ser el desenfoque */
  box-shadow: 1rem 3rem 5rem rgba(0, 0, 0, 0.9); /* Sombra de la caja, x,y,z; color sombra e itensidad */
  border-radius: 12px; /* Caja Principal los bordes redondeados */
  overflow: hidden; /* Es el Scroll, aqui lo desaparezco, pero tiene muchas funciones, se muestra ultimo */
  display: flex; /* Para que el contenido valla hacia la derecha y no hacia abajo */
}

.jugador {
  /* <> Por el momento solo contiene otro <> */
  flex: 50%; /* Cada <> se dividio en 2 */
  padding: 9rem; /* Margen de adentro hacia afuera */
  display: flex; /* Movemos elementos <> */
  flex-direction: column; /* Que se mantengan como columnas */
  align-items: center; /* Alineo los elementos al centro */
  transition: all 3s; /* De la ubicacion donde vienen, quedaran asi en 3 segundos */
}

/* Elementos */
.nombre {
  /* A la clase nombre en el DOM */
  position: relative; /* Te mantienes dentro de tu etiqueta superior */
  font-size: 4rem; /* Tamaño del texto */
  text-transform: uppercase; /* Se cambian las mayusculas por minusculas */
  letter-spacing: 2px; /* Espacio entre cada letra */
  word-spacing: 3px; /* Espacio entre cada Oalabra */
}

.puntos {
  /* Estilos a esta clase */
  font-size: 8rem; /* Aumento el tamaño del texto */
  color: #0c2db2; /* Se le cambia el color a los numeros */
}

.jugador-activo {
  /* Cuando esta clase esta activa */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Es un fondo de gris, lo ultimo es la opacidad/transparencia */
}

.jugador-activo .contador {
  /* Necesito personalizar el contador */
  opacity: 1; /* Para que no se tape bajo la opacidad */
}

.contador {
  /* Clase Contador donde va Puntos Actuales y el Cero */
  background-color: #7b7274; /* Le Asigno un fondo de pantalla */
  opacity: 0.8; /* La opacidad al fondo de pantalla */
  border-radius: 10px; /* Le asigno bordes redondeados */
  color: #fff; /* Color del texto */
  width: 65%; /* Abarcas un 65% de tu espacio disponible */
  padding: 2rem; /* Tamaño de lo gris, del contador */
  text-align: center; /* Texto centrado */
  transition: all 1s; /* Transiciona todo en 1 seg */
}

.contador-etiqueta {
  /* A esta <p> Clase */
  text-transform: uppercase; /* Su texto sea mayusculas */
  margin-bottom: 1rem; /* Espacio hacia abajo de las letras */
  font-size: 1.7rem; /* Tamaño de texto */
  color: #ffffff; /* El color de las letras o el elemento mas brillante */
}

.contador-actual {
  font-size: 3.5rem;
}

.dado {
  /* A la clase dado */
  position: absolute; /* Va a tener una posicion absoluta dentro de su elemento padre */
  left: 50%; /* Posicionamos el objeto a la mitad en el eje de las x, ahi inicia */
  top: 16.5rem; /* El espacio que tiene entre su top y el elemento */
  transform: translateX(-50%); /* Asi el objeto queda en la mitad */
  height: 10rem; /* Lo que va a medir */
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4); /* XYZ sombras - Ultimo el sombra difuminada */
}

.btn {
  /* <> Botones */
  position: absolute; /* Se posiciona sobre su etiqueta madre main */
}

.btn-nuevo {
  /* A esta clase le asignamos estilos */
  top: 4rem; /* De arriba hacia abajo, un espacio */
}
.btn-juega {
  /* A esta clase le asigno estilo */
  top: 39rem; /* De arriba hacia abajo, un espacio */
}
.btn-quedarse {
  /* A esta clase le asigno estilos personalizados */
  top: 46rem;
}
