@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); /* Importo una nueva tipografia */

* {
  /* A Todo el documento */
  margin: 0; /* Eliminamos todos los margenes en el Documento */
  padding: 0; /* Eliinamos el margen de adentro hacia afuera del elemento */
  box-sizing: inherit; /* Tamaño de cajas sera personalizado y se hereda a las demas cajas */
}

html {
  /* A la etiqueta Html se le agregan estos estilos */
  font-size: 62.5%; /* Reduci el tamaño de texto */
  box-sizing: border-box; /* Con esto ajustamos el tamaño de las cajas */
}

body {
  /* A la etiqueta body */
  font-family: "Nunito", sans-serif; /* Le cambie la tipografia a la que importe arriba (Nombre Importante) */
  font-weight: 400; /* Las letras las hago de tamaño mas grande */
  height: 100vh; /* La altura del body va a ser todo el Dom de alto */
  color: #333; /* Color del texto Negro */
  background-image: linear-gradient(
    to top left,
    #753682 10%,
    #bf2e34 90%
  ); /* Tipo picaso, va hacia arriba a la izquierda y el porcentaje es lo que ocupa del espacio +=- & -=+ */
  display: flex; /* Que todo quepa segun su contenido */
  align-items: center; /* Movemos hacia el medio de la pagina, todo el texto del body */
  justify-content: center; /* Centramos todo el contenido a la mitad del DOM */
}
/* Diseño */
main {
  /* A la etiqueta main, le voy a dar estilos personalizados, que es a todo */
  position: relative; /* La posicion se va a mantener en esta etiqueta, absolute es la etiqueta de mayor gerarquia */
  width: 100rem; /* Es la anchura de este elemento, lo hice mas grande */
  height: 60rem; /* Altura, lo hice mas grande */
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Es color blanco de fondo del elemento, pero el blanco lo bajo de tonalidad de 1 a .3 mas gris */
  backdrop-filter: blur(
    200px
  ); /* Es el desenfoque para hacerlos parcealmente transparentes */
  filter: blur(); /* El filtro que voy a aplicar va a ser el desenfoque */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25); /* Sombreado, primero es eje x, y, difuminado; color sombra, bajo intensidad */
  border-radius: 9px; /* De la caja, le voy a dar borde redondeado */
  overflow: hidden; /* Lo oculto para que no se desborde el contenido en el contenedor que lo tiene */
  display: flex; /* Para que el contenido se ajuste a lo que debe de medir el contenedor */
}

.player {
  /* Son las secciones donde iban los player, y abajo de las sections estaba lo de los botones(imagen) */
  flex: 50%; /* Que las secciones de los jugadores se dividan en el 50% del Ancho que tenemos */
  padding: 9rem; /* Margen de adentro hacia afuera del elemento */
  display: flex; /* Para que todo se acomodem en filas siguientes, cada etiqueta, pero los div se quedan juntos */
  flex-direction: column; /* Que la alineacion flex no sea en columnas */
  align-items: center; /* Voy a alinear los tag's mayores al centro */
  transition: all 1s; /* Esto quiere decir, que vengan desde donde estaban al principio, pero que termine donde yo digo, a todo */
}
/* Elementos */
.name {
  /* A la Clase Name de la etiqueta h2 */
  position: relative; /* Estas trabajando en dentro de ete elemento, el lugar donde te posicionare */
  font-size: 4rem; /* Mayor tamaño de letra */
  text-transform: uppercase; /* Que el texto sea Mayuscula */
  letter-spacing: 2px; /* Que esta sea la separacion de las letras */
  word-spacing: 3px; /* Separacion entre cada oracion */
  font-weight: 400; /*BUG*/ /* Seria la anchura de las letras, pero no se distingue */
  margin-bottom: 1rem; /* El margen desde el h2 hacia abajo  */
}

.score {
  /* A la clase score, que esta en una etiqueta parrafo */
  font-size: 8rem; /* Al numero, le aumentamos el tamaño de letra */
  font-weight: 300; /*BUG*/ /* Seria la anchura de las letras, pero no se distingue */
  color: #c7365f; /* Se le cambia el color a los numeros */
  margin-bottom: auto; /* Que el margen de este elemento sea abajo */
}

.player--active {
  /* A esta clase le damos estos estilos */
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ); /* A la clase del jugador actual, le damos un fondo de gris, lo ultimo es la opacidad/transparencia */
}
.player--active .name {
  font-weight: 700; /*BUG*/ /* Seria la anchura de las letras, pero no se distingue */
}
.player--active .score {
  font-weight: 700; /*BUG*/ /* Seria la anchura de las letras, pero no se distingue */
}

.player--active .current {
  opacity: 1; /* Para que no se oculte con la opacidad del .player--active donde esta el current y el numero */
}

.current {
  /* A donde van el current y el numero */
  background-color: #c7365f; /* Le Asigno un fondo de pantalla */
  opacity: 0.8; /* Lo hago un poco mas opaco, para que no tape al otro */
  border-radius: 9px; /* Al background rosa le asigno un borde redondeado */
  color: #fff; /* Que el texto sea color blanco */
  width: 65%; /* Le asigno una anchura, segun su elemento, osea abarca el porcentaje correspondiente al 100 del elemento */
  padding: 2rem; /* Le damod un margen de adentro hacia afuera */
  text-align: center; /* Quiero solo el texto alineado en medio */
  transition: all 0.1s; /* Le doy una transicion a este elemento de 1 seg que venga desde donde inicia */
}

.current-label {
  /* Etiqueta P de parrafos */
  text-transform: uppercase; /* Mensaje de current ya quedo activo */
  margin-bottom: 1rem; /* Que tenga un mayor espacio hacia abajo */
  font-size: 1.7rem; /* Tamaño de la fuente */
  color: #ddd; /* El color de las letras o el elemento */
}

.current-score {
  /* Personalizacion a una etiqueta P */
  font-size: 3.5rem; /* Le asigno un mayor tamaño de letra */
}

/* Elementos en Posicion Absoluta */
.btn {
  /* Esta Clase se va a posicionar dentro de la etiqueta superior a esta, que es main */
  position: absolute;
  left: 47%; /* Posiciona esto a la mitad */
  transform: translateX(
    -50%
  ); /* Asi lo centro mas, porque pierde porcentaje en eje x */
  color: #444; /* Que las letras de los colores sean balnca */
  background: none; /* Que no tengan ningun tipo de background, transparentes */
  border: none; /* No quiero que esto tenga ningun borde */
  font-family: inherit; /* La fuente la mantiene heredada de la etiqueta de arriba */
  font-size: 1.8rem; /* Le cambio el tamaño de fuente */
  text-transform: uppercase; /* Que el texto sea mayusculas */
  cursor: pointer; /* Que al pasar el mouse por este elemento, salga una mano */
  font-weight: 400; /*BUG*/ /* Seria la anchura de las letras, pero no se distingue */
  transition: all 0.2s; /* Que vengan de donde estaban cuando los posicione */

  background-color: white; /* Que tengan un fondo de pantalla blanco */
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Que tenga un color un poco mas trasparente */
  backdrop-filter: blur(10px); /* Este como que les da un filtro mas blanco */

  padding: 0.7rem 2.5rem; /* Tomaron Margen de adentro hacia afuera Y, luego tomaron un poco mas X */
  border-radius: 50rem; /* Que el borde sea redondeado */
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3); /* Es el sombreado x,y,difuminado, lo otro es el color */
}

.btn::first-letter {
  /* El primer Elemento, osea el emoji */
  font-size: 2.4rem; /* Aumentale el tamaño  */
  display: inline-block; /* Bloques donde establezco altura y ancho y respeta margenes y rellenos*/
  margin-right: 0.7rem; /* Margen del elemento a la derecha */
}

.btn--new {
  /* A esta clase le asignamos estilos */
  top: 4rem; /* De arriba hacia abajo, un espacio */
}
.btn--roll {
  /* A esta clase le asigno estilo */
  top: 39rem; /* De arriba hacia abajo, un espacio */
}
.btn--hold {
  /* A esta clase le asigno estilos personalizados */
  top: 46rem;
}

.btn:active {
  /* Cuando toque el boton, haz un movimiento */
  transform: translate(
    -50%,
    25px
  ); /* Se va a quedar donde esta en el eje de las x, se va a mover hacia abajo */
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15); /* Sombreado no se mueve eje x,y,z(no se altera en profundidad */
}

.dice {
  /* A la clase dado */
  position: absolute; /* Va a tener una posicion absoluta dentro de su elemento padre */
  left: 50%; /* Coloco el elemento a la izquierda*/
  top: 16.5rem; /* Lo coloco mas abajo de arriba hacia abajo */
  transform: translateX(
    -50%
  ); /* Coloco en medio el elemento, solo trasladandolo en el eje de las x */
  height: 10rem; /* Tamaño de la caja */
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15); /* Eje x,y,z - Lo ultimo es el color de la sombra */
}
