body {
  /* A la etiqueta body */
  height: 100vh; /* Altura es todo lo que se ve en la pantalla */
  display: flex; /* Para poder mover los elementos */
  align-items: center; /* Centramos la etiqueta en medio de la pagina en el eje de las Y */
  background: linear-gradient(
    to top left,
    #28b487,
    #7dd56f
  ); /* Finaliza arriba a la izquierda, color #1 abajo, color #2 arriba */
}

h1 {
  /* Etiqueta de Titulo */
  font-family: sans-serif; /* Tipografia */
  font-size: 50px; /* Tamaño de la tipografia */
  line-height: 1.3; /* Espacio que dejamos hacia abajo de cada etiqueta */
  width: 100%; /* Que ocupe el ancho en su totalidad */
  text-align: center; /* Centramos el texto en eje de las X */
  color: white; /* Color del texto */
}
